body {
	background-color: #f6f6f6;
	margin: 0;
	padding: 0;
	top: 0;
	margin-right: auto;
	margin-left: auto;
	width: 960px;
	font-size: 12px;
	line-height: 16px;
	font-family: 'Helvetica Neue', 'Helvetica', 'Lucida Grande', 'Arial', sans-serif;
}


/*** MAIN LAYOUT OF SITE ***/
#wrapper {
	background-color: #ffffff;
	position: relative;
}

#header {
	height: 93px;
	background-image: url('header.png');
}

#mainimage {
	height: 400px;
}

#navigation {
	background-color: #eeeeee;
	background-image: url(images/divider_transparent.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-color: #ffffff;
	height: 56px;
}

#content {
}

#footer {
	margin-top: 30px;
	height: 147px;
	background-image: url('footer.png');
}


/*** /MAIN LAYOUT OF SITE ***/




/*** NAVIGATION CODE ***/
#navigation .navelement {
	float: left;
	height: 45px;
	line-height: 45px;
	font-family: 'Georgia', serif;
	font-size: 18px;
}
#navigation .navelement a {
	display: block;
	height: 45px;
	padding-right: 42px;
	padding-left: 42px;
	color:#336699;
}
#navigation .navelement a.home {
	width: 49px;
}
#navigation .navelement a.about {
	width: 49px;
}
#navigation .navelement a.forstudents {
	width: 102px;
}
#navigation .navelement a.forfaculty {
	width: 92px;
}
#navigation .navelement a.community {
	width: 95px;
}
#navigation .navelement a.giving {
	width: 53px;
}
#navigation .navelement a:hover {
	background-color: #dcdcdc;
}
#navigation .navelement a.current {
	background-color: #dcdcdc;
}
#navigation .border {
	width: 0px;
	padding-left: 1px;
	margin-left: 1px;
	height: 31px;
	margin-bottom: 6px;
	margin-top: 6px;
	float: left;
	border-left:1px dotted #cccccc;
}
/*** /NAVIGATION CODE ***/



/*** STANDARD HTML STYLING CODE ***/
/* links */
	a {
		text-decoration: none;
		color: #ff6e00;
	}
	a:visited {
		color: #ff6e00;
	}
	a:hover {
		color: #ff6e00;
		text-decoration: underline;
	}
	a.current:hover {
		text-decoration: none;
	}
	.mocklinks {
		color: #ff6e00;
	}
	
/* headings */
	h1, h2 {
		margin: 0;
		padding: 0;
		font-family: 'Georgia', serif;
		font-size: 20px;
		font-weight: normal;
		color: #0f3357;
		padding-top: 32px;
		padding-bottom: 12px;
	}
	h1 {
		border-bottom: 1px dotted #cfcfcf;
	}
	h2 {
		line-height: 22px;
	}
	h3 {
		margin: 0;
		padding: 0;
		font-weight: normal;
		text-transform: uppercase;
		font-size: 12px;
		/** line-height: 16px; **/
	}
	h4 {
		margin: 0;
		padding: 0;
		font-size: 12px;
		line-height: 16px;
		font-weight: bold;
	}

/* paragraphs */
	p {
		/** margin-top: 12px; **/
		margin:0;
		padding:0;
		font-size: 12px;
		line-height: 16px;
	}
	.content {
		margin-bottom: 8px;
	}
	p.lastparagraph {
	}
	.indented {
		margin-left: 24px;
		margin-top: 0px;
	}
	.smallmargin {
	}
	.quoteblock {
		font-family: 'Georgia', serif;
		font-style: italic;
		font-size: 12px;
		line-height: 16px;
	}

/* misc. */
	span.subtext {
		color: #aaaaaa;
	}
	ul {
		margin: 0;
		padding: 0;
		margin-left: 24px;
		list-style-type: square;
	}
	li {
		font-size: 12px;
		line-height: 16px;
	}
	div.full {
		margin:0;
		height: 8px;
	}
	div.half {
		margin:0;
		height: 4px;
	}
/*** /STANDARD HTML STYLING CODE ***/



/*** COLUMN CODE ***/
#columns {
	margin-left: 0px;
}
.column1 {
	margin-left: 24px;
}
.column1, .column2, .column3 {
	float: left; 
	width: 287px;
	margin-right: 25px;
	/**background-color: pink;**/
}
.column4, .column6 {
	float: left; 
	width: 267px;
	margin-right: 25px;
	
}
.column5, .column7 {
	float: left; 
	width: 267px;
	margin-right: 25px;
	
}
.clear {
	width: 100%;
	clear: both;
}
/*** /COLUMN CODE ***/





/*** SCROLLER CODE ***/
/* our main content sections */
.scrollwatcher {
	padding-bottom: 40px;
	margin-right: -360px;
	padding-right: 360px;
	padding-left: 25px;
	background-image: url(images/divider_transparent.png);
	background-position: center top;
	background-repeat: no-repeat;
}
.notopdivider {
	background-image: none;	
}
#innercontent {
	width:600px;
	float: left;
}
#scroller, #scroller-fixed {
	text-align: right;
	padding-right: 25px;
	width: 287px;
}
#scroller {
	float: right;
	font-size: 12px;
	line-height: 16px;
}
#scroller-fixed {
	margin-left: 648px;
	margin-right: auto;
	display: none;
	position: fixed;
	top: 0px;
	font-size: 12px;
	line-height: 16px;
}
#content {
	margin-top: -11px;
	position: relative;
}
#scroller a, #scroller-fixed a {
	color: #999999;
	text-decoration: none;
}
#scroller a:visited, #scroller-fixed a:visited {
	color: #999999;
	text-decoration: none;
}
#scroller a:hover, #scroller-fixed a:hover {
	color: #00b5a3;
	text-decoration: none;
}
#scroller a.selected, #scroller-fixed a.selected {
	color: #00b5a3;
	text-decoration: none;
}
/*** /SCROLLER CODE ***/


/*** BACKGROUND ANIMATION CODE ***/
.content_selected {
	-webkit-animation: blacktowhite 0.5s;
	background-color: rgba(255,255,255,0);
}

.content_unselected {
	-webkit-animation: whitetoblack 0.5s;
		background-color: #f1f1f1;
}

@-webkit-keyframes whitetoblack {
from {
	background-color: rgba(255,255,255,0);
}
to {
	background-color: #f1f1f1;
}
}
@-webkit-keyframes blacktowhite {
from {
	background-color: #f1f1f1;
}
to {
	background-color: rgba(255,255,255,0);
}
}
/*** /BACKGROUND ANIMATION CODE ***/
